$border-width: 1px;

page-home {
  background-color: white;

  .conversation {
    border-top: $border-width solid rgba(0, 0, 0, 0.3);
    height: calc(50vh - #{$border-width});
  }

  .message-container {
    .message {
      @include margin(3px);
      @include padding(12px);
      @include border-radius(15px);

      direction: initial;
      display: inline-block;
      max-width: 70%;
    }

    &.incoming {
      @include direction(ltr);

      .message {
        background-color: map-get($colors, light);
        color: black;
      }
    }

    &:not(.incoming) {
      @include direction(rtl);

      .message {
        background-color: map-get($colors, primary);
        color: white;
      }
    }

    &.processing {
      opacity: 0.8;
    }
  }

  .select-language {
    @include padding(17px, 0);
  }
}
